*{
margin:0;
padding:0;
}
.navbar
{
display:flex;
align-items:center;
position:fixed;
background-color:white;
top:0;
width:100%;

}
.logo
{
display:flex;
margin:7px 40px 10px 60px;
}
.logo img
{
height:70px;
}
.logo p
{
font-size:4vh;
margin:10px 0px 0px 10px;
}
.navbar ul
{
display:flex;
position:relative;
margin:25px 40px 7px 50px;
}
.navbar ul li
{
list-style:none;
font-size:3.5vh;
}
.navbar ul li a
{ color:black;
 font-style:bold;
margin:0px 20px 0px 30px;
text-decoration:none;
}
.navbar ul li a:hover
{ font-style:bold;
 color:white;
padding:8px 10px 8px 10px;
background-color:#b38600;
border-radius:20px;
}
.home
{
display:flex;
flex-direction:column;
margin:2vh 0px 0px 0vh;
justify-content:center;
align-items:center;
#animation:mahesh 10s ease-in-out 2s 2 reverse;
}
.home:before
{
content:"";
background:url("/images/download(18).jpg") no-repeat center/cover ;
position:absolute;
margin:5vh 0px 0px 0px;
height:100%;
width:100%;
opacity:0.7;
z-index:-1;
}
.home h1
{
font-size:8vh;
padding:1.2vh;
border-radius:3vh;
border:solid #b38600;
#background:#b38600;
background:rgba(0,0,0,0.7);
margin-top:25vh;
color:white;
}
.home p
{
font-size:4vh;
color:white;
text-shadow:2px 2px 10px black;
font-weight:bold;
margin:12vh 30vh 30vh 30vh;
}
.main
{
position:relative;
display:flex;
flex-direction:column;
justify-content:center;
margin:16vh 5vh 5vh 5vh;
animation:mahesh 3s linear 0s 1 normal;
}

@keyframes mahesh
{
0%{
margin:10vh 10vh 10vh 80vh;
opacity:0;
}
100%{
margin:10vh 10vh 10vh 10vh;
opacity:1;
}
}

.main h1
{
margin:40px 8vw 1vh 10vw;
color:#b38600;
font-size:6vh;
text-shadow:1px 1px 1px #b38600;
}

    .main hr {
        color: black;
        margin: 0vh 75vw 0vh 10vw;
    }


.main p {
            margin: 0px 5vw 10vh 5vw;
            padding: 0vh 5vw 5vh 5vw;
            font-size: 2.9vh;
            color: black;
            word-spacing: 0.7vh;
            line-height: 1.5;
        }

        .main .abolog1 {
            display: table-cell;
            vertical-align: middle;
            align-items: center;
        }
        .main .out {
            display: table-cell;
            vertical-align: middle;
            align-items: center;
        }
        .main .out h2{
         margin: 0px 5vw 10vh 5vw;
            padding: 0vh 5vw 5vh 5vw;
            font-size: 3vh;
            color:#b38600;
            word-spacing: 0.7vh;
            line-height: 1.5;}

        .main .log1 {
            display: flex;
        }


.services
{
margin:8vh;
}

.services h1
{
margin:40px 0vh 1vh 8vh;
font-size:35px;
color:black;
}
.services hr
{
color:#b38600;
margin:0vh 80vw 0vh 8vh;
}
.services .box
{display:flex;
justify-content:space-around;
flex-flow:wrap;
flex-direction:row;
margin-top:30px;
}

.services .box .card
{#background:yellow;
width:350px;
height:340px;
margin:10px 0vh 10vh 0vh;
padding:0vh 0vh 10vh 0vh;
transition:0.3s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2); 
}

.services .box .card .logo
{
display:flex;
margin:10px 10px 10px 10px;
}

.services .box .card .logo img
{
width:330px;
height:230px;
}

.services .box .card center
{
font-size:3.5vh;
color:#244e96;
font-weight:bold;
}
.services .box .card p
{
margin-top:2vh;
text-align:center;
color:#67676b;
} 
.services .box .card .button
{
margin:1vh 22vh 1vh 22vh;
text-align:center;
background:#3282B8;

}
.services .box .card .button a
{
font-size:3vh;
padding:0.5vh;
color:white;
font-style:bold;
text-decoration:none;
list-style:none;
}


.services .box .card1
{#background:yellow;
width:350px;
height:360px;
margin:80px 0vh 10vh 0vh;
padding:0vh 0vh 10vh 0vh;
transition:0.3s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.services .box .card1 .logo
{
display:flex;
margin:10px 10px 10px 10px;
}

.services .box .card1 .logo img
{
width:330px;
height:230px;
}

.services .box .card1 center
{
font-size:3.5vh;
color:#244e96;
font-weight:bold;
}
.services .box .card1 p
{
margin-top:2vh;
text-align:center;
color:#67676b;
} 
.services .box .card1 .button
{
margin:1vh 22vh 1vh 22vh;
text-align:center;
background:#3282B8;

}
.services .box .card1 .button a
{
font-size:3vh;
padding:0.5vh;
color:white;
font-style:bold;
text-decoration:none;
list-style:none;
}

.site-footer {
        background-color: #26272b;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }

 .site-footer hr {
            border-top-color: #bbb;
            opacity: 0.5
        }

 .site-footer hr.small {
                margin: 20px 0px 0px 20px;
            }

    .site-footer h6 {
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }
.site-footer .footer-links a{
    color: dimgrey;
    text-decoration:none;
}
.site-footer .row{
    display:flex;
}
.site-footer .cols{
    margin-left:70px;
}
    .site-footer .cols p {
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        flex-direction: column;
        width: 550px;
        height: 130px;
        margin: 30px 0vh 10vh 0vh;
        padding: 0vh 0vh 10vh 0vh;
    }
    .site-footer .cols ul{
        margin-top: 10px;
    }
